
<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Email Messages</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="internal.deleteDialog" max-width="500px" :persistent="true">
                <v-card>
                    <v-card-title>
                        <span class="headline">Delete Vague Item</span>
                    </v-card-title>

                    <v-card-text>
                        <error
                                :submitting="internal.form.submitting"
                                :errors="internal.form.errors"
                        >

                        </error>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    Are you sure you want to delete this vague item, {{internal.deletedItem.id}}?
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                        <v-btn color="blue darken-1" :disabled="this.internal.form.submitting" text @click="deleteAction">Yes</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="internal.dialog" max-width="500px" :persistent="true">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark depressed class="mb-2" v-on="on">New Vague Item</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <error
                                :submitting="internal.form.submitting"
                                :errors="internal.form.errors"
                        >

                        </error>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field filled v-model="internal.editedItem.email" label="Email"></v-text-field>
                                </v-flex>
                                <v-flex xs12>

                                    <v-textarea
                                        filled
                                        label="Message"
                                        v-model="internal.editedItem.message"
                                    ></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" :disabled="this.internal.form.submitting" text @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="internal.headers"
                :items="internal.vagueItems"
                class="elevation-1"
                :no-data-text="internal.noDataText"
        >

            <template v-slot:item.action="{ item }">
                <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                >
                    edit
                </v-icon>
                <v-icon
                        small
                        @click="deleteItem(item)"
                >
                    delete
                </v-icon>
            </template>
        </v-data-table>
    </div>
</template>


<script>
    import Error from "./Common/Error";
    export default {
        components: {Error},
        mounted() {
        },
        computed: {
            formTitle () {
                return this.internal.editedIndex === -1 ? 'New Vague Item' : 'Edit Vague Item'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.loadFromServer();
        },

        data: function () {
            return {
                internal: {
                    noDataText: 'No vague items',
                    dialog: false,
                    deleteDialog: false,
                    vagueItems: [],
                    form: {
                        submitting: false,
                        errors: {},
                    },
                    headers: [
                        { text: 'Owner', value: 'owner.data.name' },
                        { text: 'Email', value: 'email' },
                        { text: 'Message', value: 'message' },

                        { text: 'Created', value: 'created_at' },
                        { text: 'Updated', value: 'updated_at' },
                        { text: 'Actions', value: 'action', sortable: false }

                    ],
                    editedIndex: -1,
                    editedItemRealId: '',
                    deleteItemIndex: null,
                    deletedItem: {
                        id: '',
                        email: '',
                        message: '',
                        created_at: '',
                        updated_at: '',
                    },
                    editedItem: {
                        id: '',
                        email: '',
                        message: '',
                        created_at: '',
                        updated_at: '',
                    },
                    defaultItem: {
                        id: '',
                        email: '',
                        message: '',
                        created_at: '',
                        updated_at: '',
                    }
                }
            }
        },
        methods: {

            loadFromServer() {
                axios.get('/vague-items')
                    .then(response => {
                        if (response.status === 200) {
                            this.internal.vagueItems = response.data.data
                        }

                    }).catch(e => {
                    if (e.response.status === 401 || e.response.status === 403) {
                        this.internal.noDataText = "ERROR:" + e.response.data.message;
                    }

                    if (e.response.status === 500) {
                        this.internal.noDataText = "ERROR: A server error has occurred.";
                    }

                    if (e.response.status === 404) {
                        this.internal.noDataText = "ERROR: NOT FOUND";
                    }

                    return false;
                })
            },
            editItem (item) {
                this.internal.editedIndex = this.internal.vagueItems.indexOf(item);
                this.internal.editedItem = Object.assign({}, item);
                this.internal.editedItemRealId = this.internal.editedItem.id;
                this.internal.dialog = true;
            },

            deleteItem (item) {
                this.internal.deleteItemIndex = this.internal.vagueItems.indexOf(item);
                this.internal.deletedItem = Object.assign({}, item);
                this.internal.deleteDialog = true;

            },

            close () {
                this.internal.dialog = false;
                setTimeout(() => {
                    this.internal.form.errors = {};
                    this.internal.editedItem = Object.assign({}, this.internal.defaultItem)
                    this.internal.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.internal.editedIndex > -1) {
                    this.saveToServer('patch','/vague-items/' + this.internal.editedItemRealId);
                } else {
                    this.saveToServer();
                }
            },

            closeDelete () {
                this.internal.deleteDialog = false;
                setTimeout(() => {
                    this.internal.form.errors = {};
                    this.internal.deletedItem = Object.assign({}, this.internal.defaultItem);
                    this.internal.deleteItemIndex = -1;
                }, 300)

            },

            deleteAction () {
                this.deleteFromServer();
            },
            deleteFromServer() {
                axios.post('/vague-items/' + this.internal.deletedItem.id, {_method: 'delete'})
                    .then(response => {
                        console.log(response);
                        if (response.status === 204) {
                            this.closeDelete(true);
                            this.internal.vagueItems.splice(this.internal.deleteItemIndex, 1);
                        }

                    }).catch(e => {
                    this.internal.form.submitting = false;
                    if (e.response.status === 401 || e.response.status === 403 || e.response.status === 500) {
                        this.internal.form.errors = {authError: [e.response.data.message]};
                    }

                    if (e.response.status === 422) {
                        this.internal.form.errors = e.response.data.errors;
                    }
                    return false;
                })
            },

            saveToServer(method = 'post', url='/vague-items') {
                this.internal.form.submitting = true;
                this.internal.form.errors = {};
                axios({
                    method: method,
                    url: url,
                    data: this.internal.editedItem
                })
                    .then(response => {
                        this.internal.form.submitting = false;
                        if (response.status === 201 && this.internal.editedIndex === -1) {
                            this.internal.vagueItems.push(response.data.data);
                            this.close();
                        }

                        if (response.status === 200 && this.internal.editedIndex > -1) {
                            Object.assign(this.internal.vagueItems[this.internal.editedIndex], response.data.data);
                            this.close();
                        }
                    })
                    .catch(e => {
                        this.internal.form.submitting = false;
                        if (e.response.status === 401 || e.response.status === 403) {
                            this.internal.form.errors = {authError: [e.response.data.message]};
                        }

                        if (e.response.status === 404) {
                            this.internal.form.errors = {authError: ['Not Found']};
                        }


                        if (e.response.status === 500) {
                            this.internal.form.errors = {serverError: ['A server error has occured.']};
                        }

                        if (e.response.status === 422) {
                            this.internal.form.errors = e.response.data.errors;
                        }

                        return false;
                    })
            },
        }

    }
</script>
