<template>
    <div class="row" >
        <div class="col mb-4">
            <div v-if="submitting === true" class="card alert-info">
                <div class="card-body">
                    Submitting...
                </div>
            </div>
            <div v-if="Object.keys(errors).length !== 0" class="card alert-danger">
                <div class="card-body">
                    <ul>
                        <li class="" v-for="error in errors">
                            {{ error[0] }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            submitting: {
                type: Boolean,
                default: false
            },
            errors: {
                type: Object,
                default: () => { return {}}
            }
        },
        data: function () {
            return {
            };
        }
    }
</script>